<li>
  <%= spool.manufacturer %> <%= spool.material %> bought on <%= spool.purchased %>
  <%= link_to "Edit", edit_spool_path(spool) %>
  <%= link_to "Delete", spool_path(spool),
    method: :delete
  %>
</li>
