<li>
  <%= spool.manufacturer %> <%= spool.material %> bought on <%= spool.purchased %>
  <% if spool.is_owner?(current_user) %>
    <%= link_to "Edit", edit_spool_path(spool) %>
    <%= link_to "Delete", spool_path(spool),
      method: :delete
    %>
  <% end %>
</li>
